@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@font-face {
    font-family: 'power_symbols';
    src: url('fonts/Unicode_IEC_symbol.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.power{
  font-family: 'power_symbols';
  font-style: normal;
  color: #7102a2;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: #fff;
}
.btn
{
    position: relative;
    padding: 15px 20px;
    background: #fff;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    color: #03a9f4;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s;
}
.btn:hover
{
    letter-spacing: 4px;
}
#popup
{
position: fixed;
top: -100%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 1000;
background: #fff;
width: 450px;
padding: 80px 50px 50px;
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
transition: 0.5s;
visibility: hidden;
}
#popup.active
{
    visibility: visible;
    top: 50%;
}
#popup .content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#popup .content picture img
{
    max-width: 80px;
}
#popup .content h2
{
    font-size: 24px;
    font-weight: 500;
    color: #333;
    margin: 20px 0 10px;
}
#popup .content p
{
    text-align: center;
    font-size: 16px;
    color: #333;
}
#popup .content .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#popup .content .inputBox input
{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    outline: none;
    font-size: 18px;
}
#popup .content .inputBox input[type="submit"]
{
    max-width: 150px;
    background: #03a9f4;
    color: #fff;
    border: none;
}
.close
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.Language
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: 0.5s;
}
.Language picture img
{
    position: absolute;
    width: 540px;
    top: 200px;
}
.sci
{
    position: relative;
    display: flex;
}
.sci li
{
    list-style: none;
}
.sci li::before
{
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 120px));
    font-size: 7vw;
    pointer-events: none;
    font-weight: 700;
    transition: 0.5s;
    opacity: 0;
}
.sci li:hover::before
{
    opacity: 0.1;
    transform: translate(-50%,calc(-50% + 150px));
}
.sci li a
{
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border-radius: 10px;
    text-decoration: none;
    margin: 80px;
    font-size: 4em;
    transform-style: preserve-3d;
    perspective: 500px;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
    transition: background 0.25s;
}
.js-tilt-glare
{
    border-radius: 10px;
}
.sci li a:hover.español
{
    background: #fff;
}
.sci li a:hover.english
{
    background: #fff;
}
.sci li a .fa
{
    transition: 0.25s;
    pointer-events: none; 
    font-family: 'Poppins', sans-serif;
}
.sci li a .fa
{
    transition: 0.25s;
    pointer-events: none; 
    font-family: 'Poppins', sans-serif;
}
.sci li a:hover .fa
{
    color: #020202;
    transform: scale(1.75) translateZ(50px); 
    font-family: 'Poppins', sans-serif;
}
.sci li a:hover .fa
{
    color: #020202;
    transform: scale(1.75) translateZ(50px); 
    font-family: 'Poppins', sans-serif;
}
@media only screen and (max-width: 600px)
{
    .sci li
    {
        margin-top: 350px;
    }
    .sci li::before
    {
        top: 25%;
        font-size: 14vw;
    }
    .sci li a
    {
        margin: 40px;
    }
    .Language
    {
        min-height: 100vh;
    }
    .Language picture img
    {
        width: 250px;
        top:10%;
        left: 20vw;
    }
}
@media only screen and (max-width: 400px)
{
    .sci
    {
        margin-top:80px
    }
    .sci li
    {
        margin-top: 60px;
    }
    .sci li::before
    {
        top: 28%;
        font-size: 22vw;
    }
    section ul
    {
        display: flex;
        flex-direction: column;
    }.Language
    {        
        min-height: 100vh;
    }
    .Language picture img
    {
        width: 150px;
        left: 32vw;
    }
}