@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: #fff;
}
.btn
{
    position: relative;
    padding: 15px 20px;
    background: #fff;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    color: #03a9f4;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s;
}
.btn:hover
{
    letter-spacing: 4px;
}
#popup
{
position: fixed;
top: -100%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 1000;
background: #fff;
width: 450px;
padding: 80px 50px 50px;
box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
transition: 0.5s;
visibility: hidden;
}
#popup.active
{
    visibility: visible;
    top: 50%;
}
#popup .content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#popup .content img
{
    max-width: 80px;
}
#popup .content h2
{
    font-size: 24px;
    font-weight: 500;
    color: #333;
    margin: 20px 0 10px;
}
#popup .content p
{
    text-align: center;
    font-size: 16px;
    color: #333;
}
#popup .content .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#popup .content .inputBox input
{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    outline: none;
    font-size: 18px;
}
#popup .content .inputBox input[type="submit"]
{
    max-width: 150px;
    background: #03a9f4;
    color: #fff;
    border: none;
}
.close
{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.socialMedia
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    transition: 0.5s;
    transform: scale(0.8);
    background-color: transparent;
}
.socialMedia img
{
    width:540px;
    position:absolute; 
    top:120px;
}
.sci
{
    display: flex;
	flex-direction: row;
    margin-top: 480px;
}
.sci li
{
    list-style: none;
}
.sci li::before
{
    content: attr(data-text);
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%,calc(50% + 120px));
    font-size: 14vw;
    pointer-events: none;
    font-weight: 700;
    transition: 0.5s;
    opacity: 0;
}
.sci li:hover::before
{
    opacity: 0.1;
    transform: translate(-50%,calc(-50% + 150px));
}
.sci li a
{
    position: relative;
    /* display: inline-block; */
    width: 150px;
    height: 150px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border-radius: 10px;
    text-decoration: none;
    margin: 20px;
    font-size: 6em;
    transform-style: preserve-3d;
    perspective: 500px;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
    transition: background 0.25s;
}
.js-tilt-glare
{
    border-radius: 10px;
}
.sci li a:hover.facebook
{
    background: transparent;
}
.sci li a:hover.telegram
{
    background: transparent;
}
.sci li a:hover.instagram
{
    background: transparent;
}
.sci li a:hover.twitter
{
    background: transparent;
}
.sci li a:hover.youtube
{
    background: transparent;
}
.sci li a:hover.tiktok
{
    background: transparent;
}
.sci li a:hover.linkedin
{
    background: transparent;
}
.sci li a:hover.newsletter
{
    background: transparent;
}
.sci li a .fab
{
    transition: 0.25s;
    pointer-events: none;
}
.sci li a .fas
{
    transition: 0.25s;
    pointer-events: none;
}
.sci li a:hover .fab
{
    color: transparent;
    transform: scale(1.75) translateZ(50px);
}
.sci li a:hover .fas
{
    color: #03a9f4;
    transform: scale(1.75) translateZ(50px);
}
@media only screen and (min-width: 1650px)
{
    .sci
    {        
        flex-direction: column;
        margin-top: 200px;
    }
    .sci li::before
    {
        margin-top: 0;
        top: 40%;
        transform: translate(-50%,calc(50% + 38px));
    }
    .socialMedia
    {
        transform: scale(0.8);
    }
    .socialMedia img
    { 
        top:74px;
    }
}
@media only screen and (max-width: 992px)
{
    .sci
    {        
        flex-direction: column;
    }
}
@media only screen and (max-width: 600px)
{
    .sci
    {
        margin-top: 0;
    }
    .sci li a
    {        
        width: 100px;
        height: 100px;
    }
    .socialMedia img
    {
        width:240px;
        position:absolute; 
        top:30px;
    }
    .sci li::before
    {
        top: 70%;
    }
}